p {
    color: brown;
    text-align: center;
}

/* 未点击过的链接 */
.newa a:link {
    color: red;
    text-decoration: none;
}
/* 点击过的链接*/
.newa a:visited {
    color: pink;
}
/* 鼠标经过的链接 */
.newa a:hover {
    color: chartreuse;
}
/* 鼠标点击还未弹起时的链接 */
.newa a:active {
    color: blueviolet;
}

/* 获得光标的input表单元素选取出来 */
input:focus {
    background-color: aqua;
}

/* 把行内元素a转换为块元素 */
.ab {
    display: block;
    background-color: aquamarine;
    width: 12%;
    height: 20%;
}

/* 把块元素div转换行内元素 */
.ab2 {
    display: inline;
    background-color: blueviolet;

}
/* 行内元素span转换为行内块元素 */
.ab3 {
    display: inline-block;
    background-color: cadetblue;
}
.cen {
    /* 文字行高 */
    line-height: 40px;
    /* div高度 */
    height: 40px;
    background-color: bisque;
}