p {
  color: brown;
  text-align: center;
}

/* 未点击过的链接 */
.newa a:link {
  color: red;
  text-decoration: none;
}
/* 点击过的链接*/
.newa a:visited {
  color: pink;
}
/* 鼠标经过的链接 */
.newa a:hover {
  color: chartreuse;
}
/* 鼠标点击还未弹起时的链接 */
.newa a:active {
  color: blueviolet;
}

/* 获得光标的input表单元素选取出来 */
input:focus {
  background-color: aqua;
}

/* 把行内元素a转换为块元素 */
.ab {
  display: block;
  background-color: aquamarine;
  width: 12%;
  height: 20%;
}

/* 把块元素div转换行内元素 */
.ab2 {
  display: inline;
  background-color: blueviolet;
}
.ab2 {
  background-color: brown;
}
/* 行内元素span转换为行内块元素 */
.ab3 {
  display: inline-block;
  background-color: cadetblue;
}
.cen {
  /* 文字行高 */
  line-height: 40px;
  /* div高度 */
  height: 40px;
  background-color: bisque;
}
.tt1 {
  /* 指定为透明  */
  background-color: cadetblue;
  background-color: transparent;
  /* width: 200px;
  height: 200px; */
  /* 指定背景图 none（默认） */
  background-image: url(../文件/截屏2022-08-25\ 14.30.33.png);
  /* 设置背景不平铺 因为如果图片太小 背景会多次复制 也就是平铺 */
  /* repeat 平铺 (默认)
     no-repeat 不平铺
     repeat-x  按照x轴平铺
     repeat-y  按照y轴平铺
  */
  background-repeat: no-repeat;

  /* 改变背景图片位置  方位名次/精确单位
    方位名词：left/right/center/top/bottom 
    right bottom和 bottom right 效果一样
  */
  background-position: center top; /*向上居中*/
  background-position: right bottom; /*右下*/
  /* 精确单位：px 百分比
    第一个一定是x坐标 第二个一定是y坐标
  */
  background-position: 20px 50px;
  /*混合单位 同样第一个是x 第二个是y */
  background-position: center 50px;

  /* 背景图像固定（背景附着） 
  scroll背景图像根据对象内容滚动 默认
  fixed 背景图像固定
  */
  background-attachment: fixed;

  /* 背景复合写法 将属性合并在一个background中
  1.背景颜色，2.背景图片地址，3.背景平铺
  4.背景图像滚动，5.背景图片位置 顺序没有要求
  */
  /* background: cadetblue url() no-repeat fixed center top; */
}

.tt2 {
  height: 40px;
  width: 118px;
  background-color: bisque;
  font-size: 14px;
  line-height: 40px;
  background-image: url(https://game.gtimg.cn/images/js/title/title_sprite.png);
  background-position: center left;
  background-repeat: no-repeat;
}

body {
  background-image: url(https://i0.hdslb.com/bfs/archive/10924a131e7ee49bd88696bc6776f92cfe6ca172.png@3840w_360h_1c_90q.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* 背景色半透明 */
.tt3 {
  width: 400px;
  height: 300px;
  /* 最后一个参数是alpha透明的参数 取值在0-1之间 */
  background: rgba(0, 0, 0, 0.3);
}
.tt4 {
  background-color: aqua;
}
li {
  color: red;
}
ul li {
  color: black;
}
.nav2 {
  width: 200px;
  border-width: 3px;
  /* 无边框 none（默认） solid 实线边框 hidden 隐藏边框 double双线边框  dashe虚线边框d
  border-style: solid;
  /* border-style: dashed; */
  border-color: rosybrown;

  /* 边框复写  没有顺序*/
  border: 1px solid royalblue;
  /* 边框分开写法 只设定上边框 */
  border-top: 5px lawngreen solid;

  /* 表格细线边框 控制相邻单元格的边框 collapse 合并*/
  border-collapse: collapse;
}
/* 表格与单元格都有合并效果实现 ，代表复合选择器 选择多组 */
.nav3,
td {
  width: 300px;
  height: 100px;
  border-collapse: collapse;
  border: 1px solid pink;
  text-align: center;
}
.nav4_1 {
  /* padding-left左内边距 top上边距 right右边距 bottom下边距 */
  padding-left: 300px;

  /* padding复合写法 格式padding：值1 值2 值3 值4 
  值1:代表上下左右都有x像素内边距
  值2:代表上下有x像素内边距，左右边距是x像素
  值3:代表上有x像素内边距，左右边距是x像素，下内边距是x
  值4:代表上有x像素内边距，左内边距是x像素，右内边距是x像素，下内边距是x像素 顺时针
  */

  /* 注意：padding也会影响盒子的大小 同样减去边框 */
  padding: 1px 10px 20px 5px;
  /* 通常使用padding去撑开盒子 使其对衬 参考 新浪导航栏案例 
    注意：若盒子本身没有指定width/height padding则无法撑开盒子大小
  */
}

.nav4_2 {
  /* 设置外边距，既控制盒子与盒子之间的距离  与padding一致包括使用方法
    格式：margin- left左外边距 -right右外边距 -top上外边距 -bottom下外边距
  */
  width: 200px;
  height: 200px;
  background-color: pink;
  margin: 10px 0 0 0;
}

.nav4_3 {
  height: 400px;
  width: 900px;
  background-color: burlywood;
  /* 让盒子水平居中 */
  margin: 30px auto;
}
/* 行内元素居中 */
.nav4_4 {
  text-align: center;
}

.nav4_5_1,
.nav4_5_2 {
  background-color: rgb(150, 118, 78);
  width: 200px;
  height: 200px;
}
.nav4_5_1 {
  margin-bottom: 100px;
}
/* .nav4_5_2 {
  margin-top: 100px;
} */

.fa {
  width: 400px;
  height: 400px;
  background-color: plum;
  /* 解决方案
  1，为父div定义上边框
  2，为父div定义上内边距
  3，为父元素添加overflow：hidden
   */
  overflow: hidden;
}
.son {
  width: 200px;
  height: 200px;
  background-color: bisque;
  /* 将子div向下移动100px 但父级div移动了100px 就称为嵌套块元素垂直外边距塌陷 */
  margin-top: 100px;
}
